{% extends "admin/base.html" %}

{% block title %}{{ 'Weekly UCL Timetable' }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a>{{'Successfully subscribed' }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% load i18n static %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}">
    {{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login {% endblock %}

{% block usertools %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <div id="content-main">
        <p class="">
            You are successfully signed up for a weekly UCL timetable updates. It's gonna be sent to <b>{{ user.username }}</b> every Friday evening. Enjoy!
            </br>
            </br>
            <i> To unsubscribe click <a class="nav-link" href="{% url 'unsubscribe' %}">here</a> or follow the corresponding link in the email. </i>
        </p>
    </div>
{% endblock %}