{% extends "django_registration/register_base.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}">
    {{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login {% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

   <div id="content-main">
       <p class="">
           I can't login!
       </p>
       <div style="text-align: center; margin-top: 10px">
           <a class="nav-link" href="{% url 'signup' %}">Try again</a>
       </div>
    </div>

{% endblock %}