{% extends "django_registration/register_base.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}">
    {{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login {% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

    {% if form.errors and not form.non_field_errors %}
        <p class="errornote">
            {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}
                {% trans "Please correct the errors below." %}{% endif %}
        </p>
    {% endif %}

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="errornote">
                {{ error }}
            </p>
        {% endfor %}
    {% endif %}




    <div id="content-main">

        {% if user.is_authenticated %}
            <p class="errornote">
                {% blocktrans trimmed %}
                    You are authenticated, but are not authorized to
                    access this page. Would you like to login to a different account?
                {% endblocktrans %}
            </p>
        {% endif %}

        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>


        <form action="{{ app_path }}" method="post" id="signup_form">{% csrf_token %}

            <div class="form-row">
                {{ form.username.errors }}
                <label for="{{ form.username.id_for_label }}">UCL Username:</label>
                {{ form.username }}
            </div>
            <div class="form-row">
                {{ form.password.errors }}
                <label for="{{ form.password.id_for_label }}">UCL Password:</label>
                {{ form.password }}
            </div>

            <div style="text-align: center;">
                <input type="submit" value="{% trans 'Sign Up' %}">
            </div>
        </form>
{##}
{##}
{#        <div style="text-align: center; margin-top: 10px">#}
{#            <a class="nav-link" href="{% url 'login' %}">Go to login</a>#}
{#        </div>#}
    </div>


{% endblock %}